// v0
// go.work
go 1.23.9

use (
	./circuit_breaker
	./services/aggregator
	./services/assessment
	./services/gamification
	./services/ledger
	./services/mape
	./services/topic-init
	./zone_simulator
)

replace github.com/nrg-champ/circuitbreaker v0.0.0 => ./circuit_breaker
